.title {
    @media (max-width: 320px) {
        padding: 0px 20px;   
    }
    padding: 30px 0px 0px 100px;

    h3 {
        font-family: Montserrat;
        color: #ff6060;
        font-size: 36px;
        font-weight: 500;
        margin: 0px;
    }

    p {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        margin: 5px;
    }

    .infos {
        @media (max-width: 320px) {
            padding: 0px 20px;  
            flex-direction: column; 
        }
        display: flex;
        margin: 20px 0px 25px;

        .tags {
            color: white;
            font-size: 14px;
            font-weight: 700;
            background-color: #ff6060;
            padding: 1px 15px;
            border-radius: 10px;
            margin-right: 15px;
            text-align: center;
        }
    }
}