figure {
    @media (max-width: 768px) {
        width: 100%;
        margin: 0px;
        margin-bottom: 22px;
        min-width: 100%;
    }
    width: 28%;
    min-width: 340px;
    height: 340px;
    background-color: #FF6060;   
    border-radius: 10px;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0), #ff6060);
    cursor: pointer;

    a {
        text-decoration: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
        img { 
            grid-area: 1 / 1 / 3 / 3;
            border-radius: 10px;
            position: relative;
            z-index: 0;
            object-fit: cover;
            height: 340px;
            width: 100%;
         }
        figcaption { 
            grid-area: 2 / 1 / 3 / 2;
            width: 130%;
            color: white;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 700;
            padding: 70px 20px;
            position: relative;
            z-index: 1;
        }
    }
}