.profil {
    @media (max-width: 830px) {
        padding-right: 100px;
    }  
    @media (max-width: 768px) {
        padding: 0px 20px;
    } 
    display: flex;
    justify-content: flex-end;
     

    h2 {
        color: #ff6060;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        padding-left: 20%;
        text-align: end;
        margin-right: 20px;
    }

    img {
        background-color: #c4c4c4;
        height: 64px;
        width: 64px;
        border-radius: 50%;
        object-fit: cover;
    }
}