nav {
    @media (max-width: 340px) {
        flex-direction: column;
        padding-top: 10px;
    }
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2px;

    a {
        @media (max-width: 768px) {
            font-size: 12px;
            text-align: center;
        }
        color: black;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        padding-right: 20px;
        text-decoration: none;
    }

    a:hover {
        color: #ff6060;
    }

    .active{
        text-decoration: underline;
    }
}