.gallery {
    @media (max-width: 700px) {
        background-color: white;
        flex-direction: column;
        padding: 22px 20px;
        margin: 0px;
    }
    margin: 50px 100px 50px;
    padding: 50px;
    background: #F6F6F6;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}