header {  
    @media (max-width: 700px) {
            padding: 20px 20px 0px;
        }    
    padding: 45px 100px 50px;
    display: flex;
    justify-content: space-between;
    
    h1 {
        margin: 0px;
    }
    img {
        @media (max-width: 700px) {
            width: 145px;
            height: 47px;
        }
        width: 210px;
        height: 70px;        
    }
}